//MUI Styles
.MuiButton-containedSizeSmall {
    font-size: 10px;
}

.MuiButton-containedSizeMedium {
    font-size: 12px;
}

.MuiButton-iconSizeMedium {
    margin: 0;
}

.content {
    &__info {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        margin: 0 0 10px 0;

        div {
            text-align: center;
            flex: 1 1 33.333%;
            font-size: 18px;
        }
    }

    &__currency {
        font-weight: 600;
        cursor: pointer;
    }

    &__row {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
            text-align: center;
            margin: 10px 0;
            font-weight: 500;
        }
    }

    &__chart-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 450px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__chart-options {
        margin-bottom: 10px;

        @media (max-width: 540px) {
            margin-bottom: 20px;
        }
    }

    &__functionalBlock {
        display: flex;
        margin: 0 0 10px 0;
        gap: 10px;

        button {
            flex: 1 1 50%;
        }
    }

    .content__btn {
        
        display: flex;
        align-items: center;
    }

    .content__btn-icon {
        transition: 0.3s;
    }

    &__btn:hover {
        .content__btn-icon {
            transform: rotate(90deg);
        }
    }

    &__chart {
        margin: 0 0 10px 0;
        border-bottom: 1px solid grey;
        padding: 0 0 20px 0;
    }

}